<form class="col" [formGroup]="loginForm" (ngSubmit)="login()" (change)="invalidLogin=false">
  <div *ngIf="invalidLogin || invalidForm(loginForm)" class="mt-1">
    <div *ngIf="invalidLogin"
         class="p-0 mt-1 alert alert-warning">
      <p>Cannot log in, invalid login or password</p>
    </div>
    <div *ngIf="loginForm.controls['email'].errors"
         class="p-0 mt-1 alert alert-warning">
      <p *ngIf="loginForm.controls['email'].errors?.required">Login is required</p>
      <p *ngIf="loginForm.controls['email'].errors?.email">Wrong E-mail</p>
    </div>
    <div *ngIf="loginForm.controls['password'].errors"
         class="p-0 mt-1 alert alert-warning">
      <p *ngIf="loginForm.controls['password'].errors?.required">Password is required</p>
      <p *ngIf="loginForm.controls['password'].errors?.minlength">Password is too small</p>
      <p *ngIf="loginForm.controls['password'].errors?.maxlength">Password is too big</p>
    </div>
  </div>

  <p>
    <label for="email" class="sr-only">username</label>
    <input type="text" id="email" name="email" formControlName="email" class="col-8 mt-2" placeholder="email">
  </p>

  <p>
    <label for="password" class="sr-only">password</label>
    <input type="password" id="password" name="password" formControlName="password" class="col-8 mt-2" placeholder="password">
  </p>

  <div class="row ml-1 col-auto justify-content-center">
    <input type="submit" value="submit" [disabled]="loginForm.invalid" class="col-auto btn btn-outline-light rounded-0">
  </div>


</form>
