<div class="row justify-content-between col-auto text-light m-0">

  <div class="input-group search">
    <span class="oi oi-magnifying-glass text-dark align-self-center mt-2"></span>
    <input id="search" aria-label="Search" class="form-control mt-2 ml-1 mr-4 border-left-0 border-right-0 border-top-0" placeholder="Search" type="text">
  </div>

  <div *ngFor="let computer of computers" class="mt-5 col-12 col-md-5 col-xl-auto card p-0 rounded"
       (click)="redirectToComputerInfo(computer.name)">
    <div class="card-body row">

      <div class="col col-lg-3 col-xl-auto p-0 d-none d-md-inline-block d-xl-none align-self-center">
        <img src="assets/computer.svg" alt="" class="img-fluid">
      </div>

      <h2 class="col-9 col-lg-6 col-xl-auto m-0 ml-auto p-0 pl-2 text-center align-self-center">
        {{computer.name}}
      </h2>

      <div class="col-3 col-xl-auto m-0 ml-auto pl-2 p-0 align-self-center text-center">
        <h1><span class="badge badge-light text-dark">{{computer.appsNum}}</span></h1>
      </div>

    </div>

    <div class="card-footer text-center text-dark bg-light">
      <span>Last update: {{computer.date | date:'yyyy/MM/dd, HH:mm:ss'}}</span>
    </div>
  </div>

</div>
