<div class="menu" [class.menu_active]="menuActive">

  <a href="#" class="menu-btn" (click)="menuActive = !menuActive"><img src="assets/menu.png" alt=""> </a>

  <div class="menu-list">
    <nav class="menu-list">

      <a *ngFor="let computer of computers"
              class="items"
              [ngClass]="computer.name == currentComputer?.name ? 'selected' : null"
              (click)="selectComputer(computer)">
        <div>
          <img class="img" src="assets/icon.png">
          <div class="text">{{computer?.name}}</div>
          <div class="num"><span>{{computer?.appsNum}}</span></div>
        </div>


      </a>

    </nav>
  </div>

</div>
